body{
    background-image: url(Prq\ as\ and\ owner\ \(1\).png);
    background-attachment: fixed;
    background-size: cover;
}
button{
    border-radius: 35px;
    border-color: brown;
    color: burlywood;
    border-color: blueviolet;
    height: 50px;
    width: 50px;
    margin: 650px;
}